<%= form_for [challenge, workout] do |form| %>
  <div>
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>
  <div>
    <%= form.label :activity %>
    <%= form.text_field :activity %>
  </div>
  <div>
    <%= form.label "Date" %>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.submit "Add Workout" %>
  </div>
<% end %>
