<h1><%= @group.title %></h1>

<% if current_user.admin_of?(@group) %>
  <%= link_to "Edit", edit_group_path %> |
  <%= link_to "Create Challenge", new_group_challenge_path(@group) %>
<% end %>

<div>
  <% if @group.current_challenge %>
    <%= render "challenges/timeline", challenge: @challenge, timeline: @timeline %>
  <% end %>
</div>

<h4>Members</h4>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.first_name, user %>
    </li>
  <% end %>
</ul>

<h4>Previous Challenges</h4>
<ul>
  <% @challenges.each do |challenge| %>
    <li>
      <%= link_to challenge.title, challenge %>
    </li>
  <% end %>
</ul>
