<h2><%= @user.first_name %> <%= @user.last_name %></h2>

<div>
  <% if @user != current_user %>
    <%= friend_button(@user) %>
  <% end %>
</div>
<style>
img {
  max-height: 25%;
  max-width: 25%;
}
</style>
<div>
  <%= image_tag @user.image_url %>
</div>
<div>
  <%= @user.city %> | <%= @user.state %>
</div>
