<h2><%= @user.first_name %> <%= @user.last_name %></h2>

<div>
  <% if @user != current_user %>
    <%= friend_button(@user) %>
  <% end %>
</div>
<div>
  <%= image_tag @user.image_url %>
</div>
<div>
  <%= @user.city %> | <%= @user.state %>
</div>

 <div class="user-workouts">
  <h3>Workouts</h3>
  <% if current_user.friends_with?(@user) %>
    <%= render @user.workouts %>
  <% end %>
</div>

<div class="user-friends">
<h3>Friends</h3>
  <% @friendships.each do |friendship| %>
    <%= link_to friendship.friend.first_name %>
  <% end %>
</div>
