<h3><%= link_to challenge.title, challenge %></h3>
<div class="challenge-statement">
  Statement: <%= challenge.statement %><br \/>
Start Date: <%= challenge.start_date %> -
End Date: <%= challenge.end_date %>
</div>

<ul>
<% 7.times do |days| %>
  <% date = Date.today - days %>
  <li>
    <h3><%= date.strftime("%a") %></h3>
    <% timeline.workouts_on(date).each do |workout| %>
      <%= render workout %>
    <% end %>
  </li>
<% end %>
</ul>
