<ul>
  <li>
    <%= link_to challenge.title, challenge %>
  </li>
  <li>
    Statement: <%= challenge.statement %>
  </li>
</ul>
Start Date: <%= challenge.start_date %> -
End Date: <%= challenge.end_date %>

<%= render "workouts/form", challenge: @challenge, workout: Workout.new %>
<ul>
<% 7.times do |days| %>
  <% date = Date.today - days %>
  <li>
    <h3><%= date.strftime("%a") %></h3>
    <% timeline.workouts_on(date).each do |workout| %>
      <%= render workout %>
    <% end %>
  </li>
<% end %>
</ul>
