<!DOCTYPE html>
<html>
<head>
  <title>GroupFit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <%= link_to "Group Fit", root_path %>
    <%= link_to "Sign Out", session_path, method: :delete %>
    <%= link_to "My Profile" %>
  <% else %>
    <%= link_to "Sign In", new_session_path %>
    <%= link_to "Sign Up", new_user_path %>
  <% end %>
<%= yield %>

</body>
</html>
